.header {
  background-color: rgba(47, 27, 20, 0.7);
  padding: 1rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid var(--color-primary);
  backdrop-filter: blur(6px);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: var(--font-heading);
  font-size: 3rem;
  font-weight: 700;
  color: #d2691e;
  text-decoration: none;
}

/* .logo img {
  height: 4rem; 
  width: 5rem; 
  vertical-align: middle;
} */


.navLinks {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  font-size: 1.5rem;
}

.navLinks a {
  color: #f5f5dc;
  text-decoration: none;
  font-weight: 300;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  color: var(--color-secondary);
}

.mobileMenu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.mobileMenu span {
  width: 25px;
  height: 3px;
  background-color: #f5f5dc;
  margin: 3px 0;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
  }

  .mobileMenu {
    display: flex;
  }
}
